<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- CSS -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/meteo_css.css"/>
      <link rel="stylesheet" href="../css/w3.css">

      <!-- JAVASCRIPT -->
      <script type="text/javascript" src="../script/javascript.js"></script>
  </head>

  <body>

    <!-- Barre de menu en haut -->
  <header>
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="../index.html" class="w3-bar-item w3-button"><img class="logo_site" src="../img/logo_site.png" alt="Logo"/> Météo</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small w3-bar-item">
          <a href="../index.html" class="w3-bar-item w3-button">Accueil</a>
          <a href="../view/contact.html" class="w3-bar-item w3-button">Contact</a>
        </div>
      </div>
    </div>
  </header>


  <!-- Aide section -->
  <div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <div class="w3-content w3-padding-32" >
      <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Aide</h3>
	      <p> Météo fournie par openweathermap.org</p>
	      <p> Rendez-vous dans la page Contact pour toute demande. </p>
        <span>

          <!-- Pour aligner les boutons -->
          <div id="bouton">
            <form action = "./contact.html">
              <input class="w3-button w3-black w3-section" type="submit" value="CONTACT"/>
            </form>
          </div>
          <div id="bouton">
            <form action = "../index.html">
              <input class="w3-button w3-black w3-section" type="submit" value="RETOUR"/>
            </form>
          </div>
      </span>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16 footer">
    <p>Powered by Arnaud Bistel and <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>

  </body>

</html>
